.keyword {
    -fx-fill: -highlight1;
}

.number {
    -fx-fill: -highlight3;
}

.function {
    -fx-fill:  -highlight4;
}

.bracket {
    -fx-fill: -highlight7;
}

.brace {
    -fx-fill: -highlight8;
}

.string, .library {
    -fx-fill: -highlight6;
}

.comment {
    -fx-fill: -highlight5;
}

